## Django Web Framework
# https://pypi.org/project/Django/
Django==5.0.6

## WSGI HTTP Server
# https://pypi.org/project/gunicorn/
gunicorn==22.0.0

## Pre-commit hooks
# https://pypi.org/project/pre-commit/
pre-commit==3.7.1

## Postgres Client
# https://pypi.org/project/psycopg2/
psycopg2-binary==2.9.9

## Environment Variables
# https://pypi.org/project/python-decouple/
python-decouple==3.8

## https://pypi.org/project/ruff/0.0.178/
# Linter
ruff==0.4.8

## https://spotipy.readthedocs.io/
# Python library for the Spotify Web API
spotipy==2.24.0